.ui.borderless.topmenu.menu {
  background-color: #f5f5f5;
  box-shadow:none;
  border: none;
}
.ui.borderless.menu {
  background-color: none;
  box-shadow:none;
  border: none;
}

.footer-background {
  background: #292929;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ui.list {
  padding-top: 20px;
  padding-bottom: 40px;
}

.ui.grid.centered.whiteicon.container {
  color: #000000;

}